nav {
  background-image: linear-gradient(
    to bottom right,
    hsl(187, 87%, 55%),
    hsl(263, 95%, 47%)
  );
}

nav li {
  padding: 10px;
  border-radius: 10px;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: white;
  text-decoration: underline;
}

.media {
  margin: 20px;
  width: 60%;
}
