nav {
  background-image: linear-gradient(
    to bottom right,
    hsl(187, 87%, 55%),
    hsl(263, 95%, 47%)
  );
}

nav li {
  padding: 10px;
  border-radius: 10px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

.media {
  margin: 20px;
  width: 60%;
}

#filter {
  width: 22rem;
  margin: auto;
  margin-top: 15px;
}

.card-img-top {
  width: 140px;
  height: 150px;
  margin: auto;
  margin-top: 5px;
}

#price {
  text-align: right;
}

.row {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.card {
  width: 22rem;
  height: 27rem;
  border-radius: 15px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.cart-footer {
  color: white;
}

.card:hover {
  border: 1px solid deepskyblue;
}

.hidden {
  display: none;
}

.Orders {
  width: 50%;
  margin: auto;
}
