#filter {
  width: 30rem;
  margin: auto;
}

.card-img-top{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 5px;
}

#description {
  height: 20px;
}

#price {
  text-align: right;
  height: 10px;
}

.row {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.card {
  width: 30rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.card:hover {
  border: 1px solid deepskyblue;
}